body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .ql-stroke {
    stroke: white !important;
  }
  .q1-stroke:hover {
    stroke: blue !important;
  }
  .q1-stroke.q1-thin {
    stroke: white;
    fill: white;
  }
  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item:hover,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: blue !important;
  }
  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow .ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button:focus .ql-stroke,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: blue !important;
  }
  .q1-fill {
    fill: white !important;
  }
  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: white !important;
  }
  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item:hover,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: blue !important;
    stroke: blue !important;
  }
  .q1-fill {
    fill: white;
    stroke: white;
  }
  .ql-toolbar {
    color: aliceblue;
  }
  .q1-size {
    color: wheat;
  }
  .ql-picker-label {
    color: white;
  }
  .ql-picker-item {
    color: white;
  }
  .ql-picker-options {
    background-color: black !important;
  }
  .ql-editor {
    min-height: 250px;
  }
  .color {
    color: yellow;
  }
  .draggable.Drag {
    opacity: 0.5;
  }
  .sds:active {
    background-color: "" !important;
  }
  #main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 80px;
    transform: translate(0, 20vh);
    padding-bottom: 380px;
  }
  #main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding-bottom: 380px;
  }
  .CodeMirror {
    height: 350px;
    padding-top: 10px;
    padding-right: 10px;
    width: 300px;
  }
  .CodeMirror-vscrollbar {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @media screen and (max-width:1024px) {
    #main {
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
    #main-grid {
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
  }
  @media screen and (max-width:870px) {
    #main {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      align-content: center;
      margin-left: auto;
      padding-left: auto;
    }
    #main-grid {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      align-content: center;
      margin-left: auto;
      padding-left: auto;
    }
  }
  .loaded {
    min-width: 250px;
    width: max-content;
  }
  @media screen and (max-width:500px) {
    .navbar {
      flex-direction: column;
    }
    #main {
      grid-template-columns: 1fr;
      margin-left: 14px
    }
    #main-grid {
      grid-template-columns: 1fr;
      margin-left: 20px;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
  }